#info-section{
    color: #cfcfcf;
    margin: px-to-rem(82px);
    article{
      display: flex;
      align-items: center;
      margin: px-to-rem(32px);
      figure{
        width: 48%;
        height: px-to-rem(222px);
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
        transition: all .3s;
        &:hover{
          transform: scale(1.04);
        }
      }
      div{
        margin-left: px-to-rem(82px);
      }
      }
    }
  